*{
  width: 100%;
  height: 100%;
  margin: 0%;
 background-color: rgba(255, 235, 205, 0.331);
}

/* Interface Page*/
.interface{
  width: 100%;
  height: 100%;
  margin: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.interface> video{
  width: 100%;
  height: 100%;
  margin: 0rem;
  object-fit: cover;
}
.textBg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.632);
  position: fixed;
  top: 0rem;
}
.textBg > button{
    width: 8rem;
    height: 3.5rem;
    border: none;
    background-color: royalblue;
    border-radius: 1rem;
    color: white;
    position: fixed;
    top: 21rem;
    left: 37rem;
    box-shadow: 0.2rem 0.5rem 0.2rem black;
}
.textBg > p{
  font-size: 500%;
  width: 50rem;
  font-weight: bolder;
  color: white;
  text-align: center;
  text-shadow: 0.2rem 0.5rem 0.2rem black;
  position: fixed;
    top: 8rem;
    left: 17rem;
}
/* Interface Page*/

/* Header session */
.App{
  position: fixed;
  left: 0rem;
}
.Home{
  height: 100vh;
  margin: 0rem;
  padding: 0rem;
  overflow-x: hidden;
}
.headerVideo{
  width: 98.5%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0rem 0.1rem 0.2rem rgb(18, 17, 17);
}
header{
  margin: 0rem;
  width: 100%;
  height: 60%;
  position: relative;
}
/* header{
  background-image: url(images/header-background.png);
  background-size: cover;
} */
.Home::-webkit-scrollbar{
  width: 2px;
}
.Home::-webkit-scrollbar-track{
  width: 2px;
}
.Home::-webkit-scrollbar-thumb{
  width: 2px;
  background-color: white;
  border-radius: 1rem;
}
::-webkit-scrollbar{
  display: none;
}
header > h1{
  margin: 0rem;
  width:40%;
  height: 45%;
  position: absolute;
  top: 5rem;
  left: 8rem;
  font-size: 450%;
  text-shadow: 0rem 0.1rem 0.3rem black;
  background-color: transparent;
  color: white;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
header > h1:hover{
  text-shadow: 0rem 0.1rem 1rem white ;
}
.headerButton{
  display: flex;
  gap: 1rem;
  background-color: transparent;
  margin: 0rem;
  padding: 0rem;
  width: 40%;
  height: 10%;
  position: absolute;
  top: 20.5rem;
  left: 4rem;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
.headerLink{
  background-color: transparent;
  border: none;
  width: 50%;
  height: 70%;
  font-weight: bold;
  text-decoration: none;
  color: white;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
.headerLink:hover{
  cursor: pointer;
  font-weight: bold;
  font-size: 110%;
  text-shadow: 0rem 0.2rem 0.3rem white ;
}
@keyframes fade {
  0%{
    color: transparent;
  }
  25%{
    color: rgba(255, 255, 255, 0.272);
  }
  50%{
    color: rgba(255, 255, 255, 0.356);
  }
  75%{
    color: rgba(255, 255, 255, 0.553);
  }
  100%{
    color: white;
  }
}
.contact1{
  width: 20%;
}
.about1{
  width: 15%;
}
.suggession1{
  width: 30%;
}
.follow1{
  width: 20%;
  font-size: 98%;
  position: relative;
  top: -9%;
  color: white;
}
/* Header session */

/* About page */
.About{
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0rem 0.1rem 0.2rem rgb(18, 17, 17);
  padding: 0rem 1rem 1rem 1rem;
  width: 50%;
  height: 70%;
  position: fixed;
  left: 26%;
  top: 15%;
  display: flex;
  flex-flow: column;
  gap: 4%;
}
.aboutanimae2{
  background-color: transparent;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  font-size: 110%;
  text-transform: capitalize;
  height: auto;
  width: auto;
}
.aboutTop> h1{
  height:20%;
}
.aboutTop{
  background-color: transparent;
  margin: 2rem 0.5rem 0rem 0.5rem;
  font-size: 200%;
  display: flex;
  height: 18%;
}
.aboutTop > svg{
  background-color: transparent;
  width: 12%;
  height: 40%;
}
.aboutTop :hover{
  color: red;
}
.aboutTop > h1:hover{
  color: black;
}
.subheading{
  font-size: 120%;
  background-color: transparent;
  font-weight: bold;
  width: 43%;
}
a{
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  
}
.aboutContact{
  display: flex;
  gap: 5%;
  align-items: center;
  align-content: center;
  height: 20%;
}
.aboutTop > h1{
  background-color: transparent;
  flex-grow: 1;
  animation-name: about;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay:0s;
  }
  @keyframes about{
    0%{
      transform: translate(10rem,12rem);
      font-size: 6rem;
    }
    100%{
      transform: translate(0rem,0rem);
    }
  }
  .aboutanimae{
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  font-size: 110%;
  text-transform: capitalize;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  width: 98%;
  overflow-x: scroll;
  background-color: transparent;
  
  }
  .aboutScroll{
  width: 98%;
  height: 10%;
  background-color: transparent;
  display: flex;
  flex-flow: column;
  gap: 10%;
  }
  .aboutanimae2{
  animation-name: about2;
  animation-duration:3s;
  animation-iteration-count: 1;
  animation-delay:0s;
  }
  @keyframes about2{
    0%{
      display: none;
      transform: translateX(-500rem);
    }
    50%{
      display: none;
      transform: translateX(-250rem);
    }
    100%{
     
      transform: translateX(0rem);
    }
  }
/* About page */

/* Suggession page */
.image{
  margin:0rem;
  display:flex;
  flex-flow:column;
  gap:10%;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color:transparent;
  font-size: 250%;
  height:50%;
  margin-top: 3%;
}
.image>img{
  height:60%;
  width:20%;
  margin-left: 6%;
}
.image>p{
  margin-left: 20%;
}
.image>img,p{
  background-color:transparent;
}
.suggestion{
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0rem 0.1rem 0.2rem rgb(18, 17, 17);
  padding: 0rem 1rem 1rem 1rem;
  width: 50%;
  height: 70%;
  position: fixed;
  left: 26%;
  top: 15%;
  display:flex;
  flex-flow:column;
  gap: 5%;
}
.suggestion h1{
  background-color:transparent;
}
.form{
  background-color:transparent; 
  display: flex;
  flex-flow: column;
  gap: 5%;
}
.form1>input,label{
  background-color:white; 
} 
.form2>textarea,label{
  background-color:white; 
} 
.form1{
  display: flex;
  align-items: center;
}
.label{
  font-size:180%;
  height: 80%;
  width: 25%;
  margin-left: 15%;
}
.input{
  font-size:120%;
  height: 70%;
  width: 45%;
  margin-right: 10%;
  margin-top: 0.8%;
  border: 1px solid black;
  border-radius: 1rem;
}
.form{
  display:flex;
  flex-flow: column;
  gap: 6%;
}
.form > button{
  width:15%;
  height: 17%;
  border-radius: 2rem;
  background-color: #237ebe;
  color: white;
  border: none;
  margin-left: 45%;
  box-shadow: 0rem 0.1rem 0.2rem rgb(18, 17, 17);
  font-size: 120%;
}
.form > button:hover{
  background-color:rgba(3, 3, 102, 0.777);
  color: white;
}
.form1{
  display:flex;
  border-radius: 0.3rem;
  background-color:white;
  height: 20%;
}
.form2{
  background-color: white;
  height:80%;
}
.input2{
 width:80%;
 height:95%;
 margin-left: 10%;
 border-radius: 0.3rem;
 font-size: 150%;
}
/* Suggession page */

/* Follow Page */
.followPage{
  width: 11%;
  height:30%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0rem 0.1rem 0.2rem rgb(18, 17, 17);
  position: fixed;
  top: 60%;
  left: 5%;
  display: flex;
  flex-flow:column;
  align-items: left;
}
.followPage >a{
  padding: 1rem;
  height: 10%;
}
.followContact:hover{
  text-shadow: 0rem 0.05rem 0.05rem rgba(3, 3, 102, 0.777);
  font-size: 110%;
}
/* Follow Page */

/*contact*/
.contact{
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0rem 0.1rem 0.2rem rgb(18, 17, 17);
  padding: 0rem 1rem 1rem 1rem;
  width: 50%;
  height: 70%;
  position: fixed;
  left: 26%;
  top: 15%;
  display: flex;
  flex-flow: column;
  gap:5%;
  align-items: center;
  align-items: center;
  justify-content:center;
  font-size: 1.5rem;
}
.contactTop{
  font-size: 110%;
  display: flex;
  width: 90%;
}
.contactTop > h1{
  flex-grow: 1;
  margin-left: 22% ;
  width: 20%;
}
.contactlogo2{
  margin-right:10.5rem;
}
.contactlogo1{
  margin-right:11.5rem;
}
.contactTopAnimation>h1{
  animation-name: wrap;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
.contactBox{
  overflow-x: hidden;
  width: 25rem;
  height: 20rem;
  background-color: transparent;
  display: flex;
  flex-flow: column;
  position: relative;
  left: 2rem;
}
.contactList{
  width: 30rem;
  height: 20rem;
  background-color: transparent;
}
.contactList > p{
  margin-bottom: 2rem;
}
.contactAnimation>a{
  margin-top: 6%;
  width: 20%;
}
.contactAnimation>img{
  width: 2rem;
  height: 2rem;
}
.contactAnimation{
  z-index: -1;
  background-color: white;
  animation-name: noDisplay;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
@keyframes wrap {
  0%{
    transform: translateY(8rem);
  }
  100%{
    transform: translateY(0rem);
  }
}
@keyframes noDisplay {
  0%{
    transform: translateX(-30rem);
  }
  100%{
    transform: translateX(0rem);
  }
}
/*search*/
.search{
  background-color: transparent;
  margin: 1rem 0rem 0rem 0rem;
  padding: 0rem;
  position: absolute;
  top: 15rem;
  left: 4rem;
  display: flex;
  gap: 2rem;
  height: 8%;
}
.search > label{
  position: fixed;
  left: 100000px;
  top: 0px;
  width: 20rem;
  height: 2rem;
}
.search > input{
  width: 25%;
  height: 100%;
  border: none;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.758);
}
.search > input :hover, .search>input:focus {
  background-color: white;
}
.searchSession{
  background-color: transparent;
  height: 5%;
}
/* Main page */
.listHeading{
  font-size: 200%;
  height: 3rem;
  padding: 1rem;
  color: white;
  text-shadow: 0rem 0.1rem 0.3rem black;
}
.listHeading:hover{
  font-size: 220%;
  color: whitesmoke;
  text-shadow: 0rem 0.1rem 0.3rem black;
}
li{
  list-style: none;
  margin-top: 1rem;
  margin-right: 0.5rem;
}
.ul{
  width: 100%;
}
.ul{
  overflow-x: scroll;
}
ul{
  display: flex;
  flex-flow: row;
  width: auto;
  gap: 2rem; 
}
ul::-webkit-scrollbar{
  overflow: hidden;
}
.aiButton>button{
  background-color: white;
  width: 7rem;
  height: 7rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0rem 0.1rem 0.3rem rgb(18, 17, 17);
  padding: 0rem;
}
.aiButton>button:hover{
  cursor: pointer;
  width: 7.5rem;
  height: 7.5rem;
  box-shadow: 0.2rem 0.3rem 0.2rem black;
}
.aiLogo{
  width: 7rem;
  height: 7rem;
  border: none;
  border-radius: 1rem;
}
.aiLogo:hover{
  width: 7.5rem;
  height: 7.5rem;
}
.singleAIButton{
  width: 7.5rem;
  height: 9rem;
}
.Main{
  width: 100%;
  margin-top: 2%;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
/* Main page */

.AiPopUp{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0rem 0.1rem 0.2rem rgb(18, 17, 17);
    padding: 0rem 1rem 1rem 1rem;
    width: 100vh;
    height: 65vh;
    position: fixed;
    left: 20rem;
    top: 5rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
  }
.AiPopUp > p{
    flex-grow: 0.5;
    background-color: transparent;
    margin: 0rem 0.5rem 0rem 0.5rem;
    font-size: 120%;
}
.PopUpTop{
  background-color: transparent;
  margin: 2rem 0.5rem 0rem 0.5rem;
  font-size: 150%;
  display: flex;
  height: 20%;
}
.PopUpTop>h1{
  background-color: transparent;
  flex-grow: 1;
}
.PopUpTop > svg{
  width: 30%;
  height: 30%;
  background-color: transparent;
}
.PopUpTop :hover{
  color: red;
}
.PopUpTop > h1:hover{
  color: black;
}
.popupLogo{
    background-color: white;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    border: none;
    padding: 0rem;
}
.popupLogo>img{
  border-radius: 1rem;
    box-shadow: 0rem 0.1rem 0.3rem rgb(18, 17, 17);
  border-radius: 10%;
  margin-left: 15rem;
}
.visitLink> a{
    width:8rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #237ebe;
    color: white;
    border: none;
    box-shadow: 0rem 0.1rem 0.2rem rgb(18, 17, 17);
}
.visitLink{
      background-color: white;
      display: flex;
      justify-content: center;
}
.visitLink >a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.visitLink > a:hover{
    background-color:rgba(3, 3, 102, 0.777);
    color: white;
}

@media screen and (max-device-width: 760px) and (orientation: portrait){
header{
  height: 25%;
  width: 100%;
  margin: 0rem;
  position: relative;
  border-radius: 0rem;
}
header > h1{
  font-size: 190%;
  position:absolute;
  left:15%;
  top:15%;
  width:65%;
}
.searchSession{
  position:absolute;
  top:-65%;
  height: 180%;
  width: 150%;
  left: -10%;
}
.headerButton{
  position: absolute;
  top:87%;
  width:100% ;
  left:0%;
}
.listHeading{
  font-size: 150%;
  width: 80%;
  text-shadow: 0rem 0.1rem 0.3rem black;
}
.listHeading:hover{
  font-size:150%;
  color: whitesmoke;
  text-shadow: 0rem 0.1rem 0.3rem black;
}
.headerLink{
  font-size: 90%;
}
.headerVideo{
  margin: 0rem;
  border-radius: 0rem;
}
/* Suggession page */
.image{
  font-size: 110%;
  height:50%;
  margin-top: 3%;
}
.image>img{
  height:70%;
  width:30%;
  margin-left: 6%;
}
.image>p{
  margin-left: 0%;
  width: 100%;
}
.image>img,p{
  background-color:transparent;
}
.suggestion{
  width: 78%;
  height: 50%;
  position: fixed;
  left: 6%;
  top: 20%;
  gap: 0%;
}
.suggestion h1{
  background-color:transparent;
  font-size: 100%;
  position: fixed;
  top: 23%;
}
.aboutTop>svg{
  width:40%;
  height:40%;
  position: relative;
  left: 75%;
  top:-30%;
}
.form{
  background-color:transparent; 
  display: flex;
  flex-flow: column;
  gap: 5%;
}
.form1>input,label{
  background-color:white; 
} 
.form2>textarea,label{
  background-color:white; 
} 
.form1{
  display: flex;
  align-items: center;
}
.label{
  font-size:100%;
  height: 50%;
  width: 50%;
  margin-left: 5%;
}
.aboutTop{
  height: 20%;
}
.input{
  font-size:100%;
  height: 110%;
  width: 65%;
  margin-right: 5%;
  border-radius: 0.2rem;
}
.form > button{
  width:45%;
  height: 17%;
  margin-left: 30%;
}
.input2{
 width:88%;
 height:95%;
 margin-left: 5%;
 font-size: 120%;
}
/* Suggession page */

/* About page */
.About{
  width: 78%;
  height: 50%;
  position: fixed;
  left: 6%;
  top: 20%;
  gap: 0%;
}
.aboutanimae2{
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  font-size: 80%;
  height: auto;
  width: auto;
}
.aboutTop> h1{
  height:20%;
  font-size: 100%;
}
.aboutTop{
  background-color: transparent;
  margin: 2rem 0.5rem 0rem 0.5rem;
  font-size: 200%;
  display: flex;
  height: 18%;
}
.subheading{
  font-size: 100%;
  width: 93%;
}
a{
  background-color: transparent;
  text-decoration: none;  
}
.aboutContact{
  display: flex;
  gap: 0%;
  align-items: center;
  align-content: center;
  height: 20%;
}
.aboutContact1{
  margin-top: 5%;
}
  .aboutanimae{
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  font-size: 120%;
  gap: 2%;
  width: 98%;
  }
  .aboutScroll{
  width: 98%;
  height: 10%;
  gap: 5%;
  }
  .aboutTop1>svg{
    width:40%;
    height:40%;
    position: relative;
    left: 10%;
    top:-30%;
  }
/* About page */
/*contact*/
.contact{
  width: 78%;
  height: 50%;
  position: fixed;
  left: 6%;
  top: 20%;
  gap: 0%;
}
.contactTop{
  font-size: 130%;
  display: flex;
  height: 18%;
  justify-content: left;
}
.contactTop > h1{
  height:20%;
  width: 200%;
  font-size: 90%;
  position: fixed;
  top: 23%;
  left: 0%;
}
.contactTop>svg{
  width:40%;
  height:40%;
  position: relative;
  left: 30%;
  top:-30%;
}
.contactBox{
  width:85%;
  height: 80%;
  position: relative;
  left: 3%;
}
.contactlogo1>a{
  margin-top: 0%;
  margin-bottom:2%;
  text-align: left;
}
.contactList{
  width: 30rem;
  height: 20rem;
  background-color: transparent;
 
}
.contactList > p{
  margin-bottom: 5%;
  font-size: 60%;
}
.contactAnimation{
  display: flex;
  gap: 1%;
}
.contactAnimation>a{
  margin-top: 6%;
  width: 20%;
}
.contactAnimation > img{
  width: 5%;
  height: 60%;
}

/* Popup Page */
.AiPopUp{
  width: 78%;
  height: 50%;
  position: fixed;
  left: 6%;
  top: 20%;
  gap: 5%;
}
.AiPopUp > p{
  font-size: 110%;
  flex-grow: 0.8;
}
.PopUpTop{
  font-size: 130%;
  display: flex;
  height: 10%;
  justify-content: left;
}
.PopUpTop > svg{
  width:60%;
  height:60%;
  position: relative;
  left: 15%;
  top:-25%;
}
.popupLogo{
  width: 100%;
  height: 80%;
}
.popupLogo>img{
  width: 30%;
  height: 100%;
  margin-left: 35%;
border-radius: 10%;
}
.visitLink> a{
  width:8rem;
  height: 2rem;
}
/* Popup Page */
}